{% include head-dark.html %}

    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
            <p class="intro">Welcome! I am a researcher, engineer, and lifelong student who focuses on the intersection of physics, biology, and machine learning. I am also currently involved in AI safety and biosecurity research. Check out some of my projects if you are interested and feel free to contact me!</p>
            <!-- <img id="jathumb" src="images/jathumb.jpg"/> -->
            <!-- <figure><img src="/images/jathumb.jpg" /></figure> -->
            <figure><center><img src="/images/tkm-thumb.png" /></center></figure>
          </article>
        </section>
    </div>
{% include footerhome.html %}
